@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rmdp-primary-dark: #d6663c;
  --rmdp-secondary-dark: #87ad92;
  --rmdp-shadow-dark: #87ad92;
  --rmdp-today-dark: #d6663c;
  --rmdp-hover-dark: #ef7245;
  --rmdp-deselect-dark: #39795c;
}

@layer base {
  @font-face {
    font-family: "BYekan";
    src: url("/fonts/BYekan-webfont.eot") format("eot"),
      url("/fonts/BYekan-webfont.ttf") format("ttf"),
      url("/fonts/BYekan-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "fontello";
    src: url("/fonts/fontello.eot?0000");
    src: url("/fonts/fontello.eot?0000#iefix") format("embedded-opentype"),
      url("/fonts/fontello.woff2?0000") format("woff2"),
      url("/fonts/fontello.woff?0000") format("woff"),
      url("/fonts/fontello.ttf?0000") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: "BYekan";
  }
}

input[type="password"] {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  /* add spacing to better separate each image */
  letter-spacing: 2px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  @apply bg-secondary-main !important;
  padding: 0;
  margin: 0;
  font-family: "BYekan";
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
:focus {
  outline: none !important;
}

.box {
  margin-top: 50px; /* make it at lealst the same as the height of the pseudo element */
  width: 100px;
  background: #0b171d;
  position: relative;
  z-index: 1;
}

.box:before,
.box:after {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 50%;
  left: 0;
  height: 50px; /* adjust this to control the height */
  background: radial-gradient(50% 100% at bottom left, #0b171d 98%, #0000) top,
    radial-gradient(50% 100% at top right, #0000 98%, #0b171d) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.box:after {
  transform-origin: right;
  transform: scaleX(-1);
}

.bg-dark.rmdp-wrapper,
.bg-dark .rmdp-month-picker,
.bg-dark .rmdp-year-picker,
.bg-dark .rmdp-time-picker div input,
.rmdp-container .bg-dark.ep-arrow::after {
  background-color: #3d4241 !important;
  color: #3d4241;
}
.rmdp-shadow {
  box-shadow: none !important;
}
.rmdp-ep-shadow:after {
  box-shadow: none !important;
}

.bg-dark .rmdp-day:not(.rmdp-deactive),
.bg-dark .rmdp-time-picker div .rmdp-am,
.bg-dark .rmdp-header-values,
.bg-dark .rmdp-panel-header {
  color: #3d4241;
}

.bg-dark .rmdp-day.rmdp-range {
  color: white;
}

.bg-dark .rmdp-panel-body li {
  color: #f5f5f5;
}

.bg-dark .rmdp-day.rmdp-deactive,
.bg-dark .rmdp-day.rmdp-disabled {
  color: #ff0000;
}

.rmdp-container .bg-dark.ep-arrow[direction="top"] {
  border-bottom: 1px solid #3d4241 !important;
}

.rmdp-container .bg-dark.ep-arrow[direction="left"] {
  border-right: 1px solid #3d4241 !important;
}

.rmdp-container .bg-dark.ep-arrow[direction="right"] {
  border-left: 1px solid #3d4241 !important;
}

.rmdp-container .bg-dark.ep-arrow[direction="bottom"] {
  border-top: 1px solid #3d4241 !important;
}

.rmdp-range-hover {
  background-color: var(--rmdp-primary-dark) !important;
  box-shadow: none !important;
}

.orange .rmdp-wrapper {
  border: 1px solid var(--rmdp-secondary-dark);
  box-shadow: none !important;
}

.orange .rmdp-panel-body li {
  background-color: var(--rmdp-primary-dark);
  box-shadow: none !important;
}

.orange .rmdp-week-day {
  color: var(--rmdp-primary-dark);
}

.orange .rmdp-day.rmdp-deactive {
  color: var(--rmdp-secondary-dark);
}

.orange .rmdp-range {
  background-color: var(--rmdp-hover-dark);
  box-shadow: none !important;
}

.orange .rmdp-arrow {
  border: solid var(--rmdp-primary-dark);
  border-width: 0 2px 2px 0;
}

.orange .rmdp-arrow-container:hover {
  background-color: var(--rmdp-primary-dark);
  box-shadow: none !important;
}

.orange .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-primary-dark);
}

.orange .rmdp-day.rmdp-today span {
  background-color: transparent;
  border: 1px solid var(--rmdp-today-dark);
}

.orange .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid var(--rmdp-secondary-dark);
}

.orange .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-primary-dark);
  box-shadow: none !important;
}

.orange .rmdp-day:not(.rmdp-day-hidden):not(.rmdp-disabled) span:hover {
  background-color: var(--rmdp-hover-dark) !important;
}

.orange .b-deselect {
  color: var(--rmdp-deselect-dark);
  background-color: white;
}

.orange .rmdp-action-button {
  color: var(--rmdp-primary-dark);
}

.orange .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-primary-dark);
}

.orange .rmdp-button:not(.rmdp-action-button):hover {
  background-color: var(--rmdp-deselect-dark);
}

#nprogress .bar {
  background: #d6663c !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #d6663c, 0 0 5px #d6663c;
}

#nprogress .spinner-icon {
  border-top-color: #d6663c;
  border-left-color: #d6663c;
}

#main-layout {
  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100 - 58px);
}

.ltr {
  direction: ltr !important;
}
